<div id="footerAll" style="background-color: rgb(243, 193, 100);">
    <p style="font-style: italic;">Todos os direitos reservados ao <b>Criador </b> e ao criador @Lukasdesouza</p>
    <div id="socialMedias">
        <a href="">Facebook</a>
        <a href="">Instagram</a>
        <a href="">TikTok</a>
        <a href="">Youtube</a>
    </div>

    <div id="generalDoubts">
        <a href="">Como fazer para</a>
        <a href="">Como cadastrar</a>
        <a href="">Como adicionar</a>
    </div>
</div>


