<div id="divgeral">
    <div id="title" fxLayoutAlign="center center">
        <h2 style="text-align:center; padding: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Conheça as intituições cadastradas</h2>
    </div>
    <p fxLayoutAlign="center center" style="color:rgb(88, 86, 84)">  <mat-icon style="color:orange">wb_sunny</mat-icon>Separamos por categoria para facilitar a sua procura. <mat-icon style="color:orange">wb_sunny</mat-icon></p>
    
    <div id="image">
        <img src="./../../../assets/Asset3.svg" alt="" style="margin-top: 20px; margin-left:310px; width: 70%; height: 500px;">
    </div>
    
        <div id="categorys">
            <h2 fxLayoutAlign="center center" style="margin-top: 10px;">Categorias</h2>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon style="color:orange">nature_people</mat-icon> Projetos Sociais
                  </mat-panel-title>
                  <mat-panel-description>
                    Alguns dos projetos sociais cadastrados conosco.
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p fxLayoutAlign="space-around center">Vale da Ajuda<button mat-button style="background-color:orange">Doar </button></p> 
                <p fxLayoutAlign="space-around center">Brasilsemfome<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">Moradoresdaru<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">Semtetoajudas<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">HumanitarinHe<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">Plantandoeaju<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">VidaNovaeAjud<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">Coletasolidária<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">BrasilqueAjuda<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">AjudaHumanitá<button mat-button style="background-color:orange">Doar </button></p>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon style="color:orangered">face</mat-icon>Crianças e Adolescentes
                  </mat-panel-title>
                  <mat-panel-description>
                    Alguns dos projetos de crianças e adolescentes cadastrados conosco.
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p fxLayoutAlign="space-around center">Vale da Ajuda<button mat-button style="background-color:orange">Doar </button></p> 
                <p fxLayoutAlign="space-around center">Brasilsemfome<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">Moradoresdaru<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">Semtetoajudas<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">HumanitarinHe<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">Plantandoeaju<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">VidaNovaeAjud<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">Coletasolidária<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">BrasilqueAjuda<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">AjudaHumanitá<button mat-button style="background-color:orange">Doar </button></p>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon style="color:orange">people</mat-icon>Idosos
                  </mat-panel-title>
                  <mat-panel-description>
                    Alguns dos projetos de idosos cadastrados conosco.
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p fxLayoutAlign="space-around center">Vale da Ajuda<button mat-button style="background-color:orange">Doar </button></p> 
                <p fxLayoutAlign="space-around center">Brasilsemfome<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">Moradoresdaru<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">Semtetoajudas<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">HumanitarinHe<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">Plantandoeaju<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">VidaNovaeAjud<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">Coletasolidária<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">BrasilqueAjuda<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">AjudaHumanitá<button mat-button style="background-color:orange">Doar </button></p>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon style="color:orangered">child_friendly</mat-icon>Recém nascidos
                  </mat-panel-title>
                  <mat-panel-description>
                    Alguns dos projetos de recém nascidos cadastrados conosco.
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p fxLayoutAlign="space-around center">Vale da Ajuda<button mat-button style="background-color:orange">Doar </button></p> 
                <p fxLayoutAlign="space-around center">Brasilsemfome<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">Moradoresdaru<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">Semtetoajudas<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">HumanitarinHe<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">Plantandoeaju<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">VidaNovaeAjud<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">Coletasolidária<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">BrasilqueAjuda<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">AjudaHumanitá<button mat-button style="background-color:orange">Doar </button></p>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon style="color:orange">pets</mat-icon>Pets
                  </mat-panel-title>
                  <mat-panel-description>
                    Alguns dos projetos de pets cadastrados conosco.
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p fxLayoutAlign="space-around center">Vale da Ajuda<button mat-button style="background-color:orange">Doar </button></p> 
                <p fxLayoutAlign="space-around center">Brasilsemfome<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">Moradoresdaru<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">Semtetoajudas<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">HumanitarinHe<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">Plantandoeaju<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">VidaNovaeAjud<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">Coletasolidária<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">BrasilqueAjuda<button mat-button style="background-color:orange">Doar </button></p>
                <p fxLayoutAlign="space-around center">AjudaHumanitá<button mat-button style="background-color:orange">Doar </button></p>
              </mat-expansion-panel>
              
         </div>
         
         <div id="donationNoCategory" fxLayoutAlign="center center">
            <h2 style="margin-top:40px;">Também podes optar pela opção de somente doar, sem categoria</h2>
         </div>

         <div id="buttonNoCategory" fxLayoutAlign="center center">
            <button mat-raised-button style="background-color:orange"> <mat-icon style="color:orangered">wb_sunny</mat-icon> Somente doar, sem categoria <mat-icon style="color:orangered">wb_sunny</mat-icon></button>
         </div>
         
</div>

<app-footer-component></app-footer-component>
