<h2 fxLayoutAlign="center center" style="padding: 20px;">Projetos Sociais</h2>

<div id="imgwithContent">
    <div id="imgandContent" fxLayout="row" fxLayoutAlign="space-around center">
        <img src="../../../assets/Asset10.svg" alt="" style="width:800px;height:700px">
    <br><h2>São diversos os projetos sociais que afiliamos. <br> Desde a distribuição de alimentos, cestas básicas <br>e agalhos  até o auxilio na coleta de lixos e residuos poluentes.
    <br><br> <font color="orange">Desça sua tela para conhecer alguns deles </font> 
    <br><mat-icon>arrow_drop_down_circle</mat-icon></h2>
    </div>
</div>



    <h2 fxLayoutAlign="center center">De acordo com a revista BBCNews, especialistas afirmam que:</h2>
    <div id="contentNews" style="background-color: rgb(210, 236, 245); border-radius: 5px;">
        <h3 fxLayoutAlign="center center" style="padding:20px ;">"O Brasil é um dos maiores emissores de poluição do mundo. Atualmente, ele está em sexto lugar em emissões e é o quarto maior em emissões históricas.<br> Então, tem papel importante na redução de emissões, apesar de ainda ser um país em desenvolvimento com desafios para redução de pobreza"</h3>
    <p fxLayoutAlign="center center" style="font-style:italic; padding: 10px;">BBC News Brasil Carlos Rittl, especialista em políticas públicas da Rain Forest Foundation, ONG ambiental da Noruega</p>
    </div>

    <img src="../../../assets/Asset6.svg" alt="" style="height:600px; margin-left: 380px;">

    <h2 fxLayoutAlign="center center">Abaixo, nossos projetos sociais </h2>
    <img src="http://cdn.shopify.com/s/files/1/0592/2698/0508/products/earth-svganimation_gifanimation_apnganimation_pngsequencetransparentbackgrounddownloadfree-terdpong.com.gif?v=1644208691" alt=""
    style="height:70px;width:70px; margin-left:750px">

    <mat-expansion-panel id="socialprojectsmodel" style="margin-top:20px ;">
        <mat-expansion-panel-header>
          <mat-panel-title>
             Projetos Sociais
          </mat-panel-title>
          <mat-panel-description>
            Alguns dos projetos sociais cadastrados conosco.
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p fxLayoutAlign="space-around center">Reflorestamento<button mat-button style="background-color:orange">Doar </button></p> 
        <p fxLayoutAlign="space-around center">Coleta de Lixo<button mat-button style="background-color:orange">Doar </button></p>
        <p fxLayoutAlign="space-around center">Coleta de Pets<button mat-button style="background-color:orange">Doar </button></p>
        <p fxLayoutAlign="space-around center">Semtetoajudas<button mat-button style="background-color:orange">Doar </button></p>
        <p fxLayoutAlign="space-around center">HumanitarinHe<button mat-button style="background-color:orange">Doar </button></p>
        <p fxLayoutAlign="space-around center">Plantandoeaju<button mat-button style="background-color:orange">Doar </button></p>
        <p fxLayoutAlign="space-around center">VidaNovaeAjud<button mat-button style="background-color:orange">Doar </button></p>
        <p fxLayoutAlign="space-around center">Coletasolidária<button mat-button style="background-color:orange">Doar </button></p>
        <p fxLayoutAlign="space-around center">BrasilqueAjuda<button mat-button style="background-color:orange">Doar </button></p>
        <p fxLayoutAlign="space-around center">AjudaHumanitá<button mat-button style="background-color:orange">Doar </button></p>
      </mat-expansion-panel>

      <app-footer-component></app-footer-component>



