<body> 
    <div id="title">
        <h2 style="text-align:center; padding: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif;"> Projeto Doações Brasil</h2>
    </div>
    
    <div id="main-content"> 
        <h3 style="text-align: center;">Fazemos o trabalho voluntário de <b style="color:rgb(246, 131, 8) ;"> unir os doadores com os receptores de doação. </b></h3>
        <h3 style="text-align: center;">O nosso diferencial é ser um trabalho 100% voluntário, por esse motivo, <b style="color: rgb(161, 3, 3);"> não cobramos taxa de intermediação das doações. </b></h3>
    </div>
    
    <div id="button-cta" fxLayoutAlign="center center">
        <button mat-raised-button style="background-color:rgb(235, 106, 0) ;"> Quero me tornar um doador</button>
    </div>

    <div id="image">
        <img  fxLayoutAlign="center center" src="./../../../assets/Asset1.svg" alt="" style="margin-top: 20px; margin-left:20px">
    </div>

</body>


